<ion-header translucent>
  <ion-toolbar>
    <ion-title>Création du compte</ion-title>
  </ion-toolbar>
</ion-header>
<div *ngIf="loading"></div>
<ion-content fullscreen>
  <div style="margin-left: auto; margin-right: auto;" *ngIf="emailError">
    <p style="color: red; padding-top: 0.1rem;">
      L'email n'est pas correcte
    </p>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="register()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked"
          >Pseudo <ion-text color="danger">*</ion-text></ion-label
        >
        <ion-input formControlName="fakeName" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked"
          >E-mail <ion-text color="danger">*</ion-text></ion-label
        >
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked"
          >Mot de passe <ion-text color="danger">*</ion-text></ion-label
        >
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin"
        >Inscription</ion-button
      >
    </div>
  </form>
</ion-content>
