<ion-header translucent>
  <ion-toolbar>
    <ion-title>Bienvenue</ion-title>
  </ion-toolbar>
</ion-header>
<div *ngIf="loading"></div>
<ion-content fullscreen>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Connection</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="data" (ngSubmit)="login()">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item>
            <ion-label position="stacked"
              >E-mail <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-input
              formControlName="email"
              required
              type="email"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked"
              >Mot de passe <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-input formControlName="password" required type="password">
            </ion-input>
          </ion-item>
        </ion-list>
        <div class="ion-padding">
          <ion-button expand="block" type="submit" class="ion-no-margin"
            >Connection</ion-button
          >
        </div>
      </form>
    </ion-card-content>
  </ion-card>
  <div class="ou"><p>Ou</p></div>
  <div class="ion-padding">
    <ion-button expand="block" class="ion-no-margin" (click)="creat()"
      >Crée un compte
    </ion-button>
  </div>
</ion-content>
