<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>
        <div class="title">
          <h1>Evenement</h1>
          <ion-button color="danger" (click)="logout()" size="small"
            >Déconnexion</ion-button
          >
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-slides>
    <ion-slide *ngFor="let item of events">
      <ion-card>
        <img src="{{item.picture}}" alt="" />
        <ion-card-header>
          <ion-card-title>{{item.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div>
            <h3 class="date">Date : {{item.date}}</h3>
          </div>
          <div>
            <h3 class="lieu">Lieu : {{item.lieu}}</h3>
          </div>
          <div>
            <h3 class="resumer">{{item.resume}}</h3>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
