.my-custom-menu {
  --width: 500px;
}
.title {
  display: flex;
}
ion-button.ion-color.ion-color-danger.md.button.button-small.button-solid.in-toolbar.ion-activatable.ion-focusable.hydrated {
  margin-top: 7%;
  margin-left: 11%;
}
.date {
  display: flex;
  align-items: flex-start;
  margin-bottom: 3%;
}
.lieu {
  display: flex;
  align-items: flex-start;
  margin-bottom: 3%;
}
.resume {
  display: flex;
  float: left;
  margin-bottom: 3%;
}
